body {
    font-family: Arial, sans-serif;
    background-color: #9c9898;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #4285f4;
    color: white;
    padding: 20px;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(215, 237, 247);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    text-align: center;
    margin-bottom: 75px;
    width: 600px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 450px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 30px; 
}

.search-container {
    text-align: center;
    margin-bottom: 75px;
    width: 600px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 450px;
    position: relative; 
}

.search-icon-container {
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
}

.search-icon {
    color: #555;
    cursor: pointer;
}

.price-filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-left: 10px;
    width: 100%;
    max-width: 140px; 
    background-color: rgb(236, 236, 236);
}

.price-filter option {
    font-size: 16px;
}

.logo {
    width: 250px;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 600px;
    border-radius: 150px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.nome_marca {
    align-items: center;
    text-align: center;
    background-color: none;
    font-family: serif;
    font-size: 32px;
    color: #302f2f;
    text-shadow: rgb(185, 183, 183) 2px 2px;
    background-color: rgb(215, 237, 247);
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.book {
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(241, 232, 220);
}

.book-cover {
    max-width: 150px;
    margin-top: 20px;
}

.book-info {
    margin-top: 10px;
}

.book-title {
    margin: 0px 5px 5px 0px;
}

.book-price {
    font-size: 20px;
    color: navy;
}

.book-real-price {
    color: red;
    font-size: 25px;
}

.saiba-mais {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 20px;
}

.pagination {
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.pagination button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: darkgreen;
    color: white;
}

.pagination button:hover {
    background-color: rgb(71, 141, 71);
}

.previous-page {
    background-color: yellow;
}